#TransactionList .TransactionList-container {}

#TransactionList {
    width: clamp(50%, 80vw, 95%);
    margin: auto;
    list-style: none;
}

.TransactionList-newBtn {
    background-color: rgba(255, 166, 0.3);
}